.preview
{
	position: relative;
	top: 100px;
	left: 27%;
	right: 30%;
	width: 46%;
}

.sobre 
{
	position:absolute;
	left:0px;
	width: 100%;
	opacity: 0.8;
}

.bajo 
{
	position:absolute;
	left:0px;
	width: 100%;
}

.zona_inferior
{
	position: relative;
	top: 480px;
	left: 15%;
	right: 25%;
	width: 50%;
}

.imagen_main
{
	position: relative;
	float: left;
}

.noticias
{
	position:absolute;
	top: 0px;
	left: 60%;
	right: 12%;
	width: 70%;
}

.noticias img
{
	background-color:none;
	border: none;
}

.noticia_individual
{
	background-color:#c8e3a0;
	border: solid;
	border-color:#c8e3a0;
	border-width:10px;
	font-family:Calibri;
	text-justify: auto;
	padding-left: 10px;
	padding-right: 10px;
	text-indent: 20px;
}

.base2
{
	position: relative;
	background-image:url(../background-bottom.png);
	background-repeat: repeat-x;
	top: 1000px;
	z-index: -1;
}